<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="is_hostname">DSK492-B1.quinnox.corp</value>
    <value name="is_identifier">a665654d-6065-4d4f-9dab-5bd06477f224</value>
    <value name="library_username"></value>
    <value name="library_url"></value>
  </record>
</IDataXMLCoder>
